.donate {
    position: fixed;
    background-color: white;
    color: black;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: .1em solid #000;
    width: auto;
    height: auto;
    padding: .25em .5em;
    font-size: 1.8vw;
    border-radius: 0;
    transition: all .2s ease-in-out;
    z-index: 100;
}

.button-wrapper {
    position: fixed;
    color: black;
    top: 20px;
    z-index: 100;
    right: 20px;
}

.webflow-mark {
    width: auto;
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 100;
    background-color: white;
    padding: .25em .5em;
    box-shadow: 0 0 0 1px #0000001a, 0 1px 3px #0000001a;

    img .text {
        width: 10pxpx;
        height: 10px;
    }

    img .badge {
        width: 26px;
        height: 26px;
    }


}